<app-header></app-header>
<ng-container>


<!-- Shop by category -->
<div class="shop_by_category">
	<a class="category-item position-relative" href="#">
		<img src="../../../assets/img/landing-page-boys/category-item1.jpg" class="img-fluid" alt="category_clothing" title="clothing">
			<div class="label-box__textarea text-center">
			  	<p class="label-box__subtitle"> shop </p>
			  	<p class="cat__name"> Clothing </p>
			</div>
	</a> 	

	<a class="category-item position-relative" href="#">
		<img src="../../../assets/img/landing-page-boys/category-item2.jpg" class="img-fluid" alt="category-accessories" title="Accessories">
			<div class="label-box__textarea text-center"> 
				<p class="label-box__subtitle"> shop </p>
				<p class="cat__name"> Accessories </p>
			</div>
	</a> 	

	<a class="category-item position-relative" href="#">
		<img src="../../../assets/img/landing-page-boys/category-item4.jpg" class="img-fluid" alt="category-shoes" title="Shoes">
			<div class="label-box__textarea text-center">
				<p class="label-box__subtitle"> shop </p>
				<p class="cat__name"> Shoes </p>
			</div>
	</a> 	

	<a class="category-item position-relative" href="#">
		<img src="../../../assets/img/landing-page-boys/category-item3.jpg" class="img-fluid" alt="category-all" title="View All Products">
			<div class="label-box__textarea text-center">
				<p class="label-box__subtitle"> View </p>
				<p class="cat__name"> All </p>
			</div>
	</a> 		     	            	
</div>


<!-- Shop by price -->
<div class="shop_by_price">
	<div class="container">
		<h2 class="section-title"> Price Store</h2>
		    <div class="kss-price"> 
		   		<ul>
			   		<li class="col-xs-4">
			   			<a href="#" title="Below Rs. 399" class="tab" alt="Below Rs. 299">Below Rs. 299</a>
			   		</li>
			   		<li class="col-xs-4">
			   			<a href="#" title="Rs. 300 to Rs. 699" class="tab" alt="Below Rs. 399">Rs. 300 to Rs. 699</a>
			   		</li>
			   		<li class="col-xs-4">
			   			<a href="#" title="Rs. 700 to Rs. 999" class="tab" alt="Rs. 700 to Rs. 999">Rs. 700 to Rs. 999</a>
			   		</li>
			   		<li class="col-xs-4">
			   			<a href="#" title="Rs. 1000 to Rs. 1999" class="tab" alt="Rs. 1000 to Rs. 1999">Rs. 1000 to Rs. 1999</a>
			   		</li>
			   		<li class="col-xs-4">
			   			<a href="#" title="Rs. 2000 to Rs. 2999" class="tab" alt="Rs. 2000 to Rs. 2999">Rs. 2000 to Rs. 2999</a>
			   		</li>
			   		<li class="col-xs-4">
			   			<a href="#" title="Above Rs. 3000" class="tab" alt="Above Rs. 3000">Above Rs. 3000</a>
			   		</li>
	        	</ul>
	        </div> 
	</div>
</div>



<!-- Shop by age -->

<div class="shop_by_age">
  	<div class="container">
  		<h2 class="section-title"> Shop By Age </h2>
	    	<div class="row">  
				<div class="col-lg-6 col-md-6 col-sm-12 age-block">
    				<a class="card-img" href="#">
						<img src="../../../assets/img/landing-page-boys/age1.jpg" class="img-fluid w-50 img-effects" title="Ombre Print Full-Sleeves Shirt" alt="Ombre Print Full-Sleeves Shirt"> 
						<div class="white-card d-inline-block">			
    						<div class="label-box__textarea">
    							<p class="label-box__title text-center">2 -7 <br> Years</p>
    							<span class="action__block">Shop Now</span>
    						</div> 
    					</div>
         			</a>
     	    	</div> 

     	    	<div class="col-lg-6 col-md-6 col-sm-12 age-block">
    				<a class="card-img" href="#">
   						<img src="../../../assets/img/landing-page-boys/age2.jpg" class="img-fluid w-50 img-effects" title="Ombre Print Full-Sleeves Shirt" alt="Ombre Print Full-Sleeves Shirt"> 			
    					<div class="white-card d-inline-block">
    						<div class="label-box__textarea">
	    						<p class="label-box__title text-center">7 - 14 <br> Years</p>
	    						<span class="action__block">Shop Now</span>	
	    					</div>	 
	    				</div>   				
         			</a>
     	    	</div>
       		</div>
    </div>
</div>  


<!-- OFFERS -->
<div class="offers">
    <div class="container">
 		<h2 class="section-title">Offers</h2>
 		    <div class="row">
		 		<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
		 			<a href="#">
		 			<img src="../../../assets/img/landing-page-boys/offer_1.jpg" class="img-fluid" alt="offers" title="super sale">
		 			</a>
		 		</div>
		 		<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
		 			<a href="#">
		 		    <img src="../../../assets/img/landing-page-boys/offer_2.jpg" class="img-fluid" alt="offers" title="summer sale">
		 		    </a>
		 		</div>
 		    </div>
    </div>
</div>

<!-- FEATURED PRODUCT -->
<div class="feaured_products">
	<div class="container">
		<h2 class="section-title">Featured Products</h2>
			<div class="overflow-md row">
				<div class="col-lg-3 col-md-3 col-6">
				    <a href="#">
						<figure class="figure product-card">
						    <img src="../../../assets/img/landing-page-boys/featured-item1.jpg" class="img-fluid card-img-top" title="Ombre Print full-sleeves shirt" alt="Ombre Print full-sleeves shirt">
						    <figcaption class="figure-caption text-center kss-price">₹250</figcaption>
						</figure>
				    </a>
			    </div>
			    <div class="col-lg-3 col-md-3 col-6">
				    <a href="#">
						<figure class="figure product-card">
							<img src="../../../assets/img/landing-page-boys/featured-item2.jpg" class="img-fluid card-img-top" title="Half sleeve Stripper Henley T-Shirt" alt="Half sleeve Stripper Henley T-Shirt">
							<figcaption class="figure-caption text-center kss-price">₹399</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-6">
					<a href="#">
						<figure class="figure product-card">
						    <img src="../../../assets/img/landing-page-boys/featured-item3.jpg" class="img-fluid card-img-top" title="Boy's Music On World Print T-Shirt-Blue Aster" alt="Boy's Music On World Print T-Shirt-Blue Aster">
							<figcaption class="figure-caption text-center kss-price">₹379</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-6">
					<a href="#">
						<figure class="figure product-card">
							<img src="../../../assets/img/landing-page-boys/featured-item4.jpg" class="img-fluid card-img-top" title="Boy's Spaceship All Over Print T-Shirt-Golden Orange" alt="Boy's Spaceship All Over Print T-Shirt-Golden Orange">
							<figcaption class="figure-caption text-center kss-price">₹379</figcaption>
						</figure>
					</a>
				</div>
			</div>
	</div>
</div>

<!-- BRAND --> 
<div class="brands">
	<div class="container">
		<h2 class="section-title">Brands</h2>
			<div class="d-flex flex-lg-nowrap flex-md-nowrap flex-wrap">
			  	<a href="#" class="white-hover mr-md-2">
				    <figure class="figure">
						<img src="../../../assets/img/landing-page-boys/brand-default-288.png" class="loaded img-fluid" title="Upturn" alt="Upturn">
				    </figure>
			    </a>
			    <a href="#" class="white-hover mr-md-2">
				    <figure class="figure">
					    <img src="../../../assets/img/landing-page-boys/brand-default-290.png" class="loaded img-fluid" title="RoboFry" alt="RoboFry">
				    </figure>
				</a>
			    <a href="#" class="white-hover mr-md-2">
				    <figure class="figure">
					    <img src="../../../assets/img/landing-page-boys/brand-default-291.png" class="loaded img-fluid" title="Dream Theater" alt="Dream Theater">
				    </figure>
				</a>
				<a href="#" class="white-hover mr-md-2">
				    <figure class="figure">
					  	<img src="../../../assets/img/landing-page-boys/brand-default-289.png" class="loaded img-fluid" title="321 Sportswear" alt="321 Sportswear">
				    </figure>		   
				</a>
			    <a href="#" class="white-hover mr-md-2">
				    <figure class="figure">
					  	<img src="../../../assets/img/landing-page-boys/brand-default-292.png" class="loaded img-fluid" title="Rikidoos" alt="Rikidoos">
				    </figure>
				</a>
			</div>
	</div>
</div>

<!-- Shop by Clothing -->
<div class="shop_by_clothing">
    <div class="container">
    	<h2 class="section-title">Shop By Clothing</h2>
		    <div class="row">
		     	<div class="col-lg-3 col-md-6 col-6 text-center d-flex">
		     		<div class="category-item d-lg-block d-sm-inline-block position-relative">
				  		<img src="../../../assets/img/landing-page-boys/clothing_item1.jpeg" class="img-fluid">
				  		<a href="#" class="btn btn-default">T-Shirts</a> 
			  	    </div>
		  		</div>
		  		<div class="col-lg-3 col-md-6 col-6 text-center d-flex">
		  			<div class="category-item d-lg-block d-sm-inline-block position-relative" href="#">
						<img src="../../../assets/img/landing-page-boys/clothing_item2.jpeg" class="img-fluid">
						<a href="#" class="btn btn-default">Boy Shirt</a> 
				    </div>
				</div>
			    <div class="col-lg-3 col-md-6 col-6 text-center d-flex">
			    	<div class="category-item d-lg-block d-sm-inline-block position-relative" href="#">
						<img src="../../../assets/img/landing-page-boys/clothing_item3.jpeg" class="img-fluid">
						<a href="#" class="btn btn-default">Bottoms</a> 
					</div>
			    </div>
			 	<div class="col-lg-3 col-md-6 col-6 text-center d-flex">
			 		<div class="category-item d-lg-block d-sm-inline-block position-relative" href="#">
						<img src="../../../assets/img/landing-page-boys/clothing_item4.jpeg" class="img-fluid">
						<a href="#" class="btn btn-default">Shoes</a> 
					</div>
				</div>

		        <div class="col-lg-3 col-md-6 col-6 text-center d-flex">
		        	<div class="category-item d-lg-block d-sm-inline-block position-relative" href="#">
				  		<img src="../../../assets/img/landing-page-boys/clothing_item5.jpeg" class="img-fluid">
				  		<a href="#" class="btn btn-default">Formal Pants</a> 
				  	</div>
		  	    </div>
		  	    <div class="col-lg-3 col-md-6 col-6 text-center d-flex">
		  	    	<div class="category-item d-lg-block d-sm-inline-block position-relative" href="#">
						<img src="../../../assets/img/landing-page-boys/clothing_item6.jpeg" class="img-fluid">
						<a href="#" class="btn btn-default">Jeans</a>
					</div> 
				</div>
			 	<div class="col-lg-3 col-md-6 col-6 text-center d-flex">
			 		<div class="category-item d-lg-block d-sm-inline-block position-relative" href="#">
						<img src="../../../assets/img/landing-page-boys/clothing_item3.jpeg" class="img-fluid">
						<a href="#" class="btn btn-default">Bottoms</a>
					</div>
				</div>
			 	<div class="col-lg-3 col-md-6 col-6 text-center d-flex">
			 		<div class="category-item d-lg-block d-sm-inline-block position-relative" href="#">
						<img src="../../../assets/img/landing-page-boys/clothing_item8.jpeg" class="img-fluid">
						<a href="#" class="btn btn-default">Jackets & Coats</a>
					</div>
				</div>
			</div>
			<div class="action__block">
				<button class="btn kss-btn w-auto"><a href="#">View All</a></button>
			</div>
    </div> 
</div>

<!-- New Arrivals -->
<div class="new_arrivals position-relative">
 	<div class="row">
	 	<div class="col-lg-6 col-md-6 col-sm-12">
	 		<div class="label-box__textarea">
		 		<h4 class="label-box__title"> New Arrivals</h4>
		 		<p class="label-box__subtitle"> Shop the latest new arrivals for boys with new styles added every week and from range of luxury designers.</p>
		 		<div class="action__block">
			 		<a href="#" class="btn kss-btn w-auto mb-1">
			 			Discover
			 		</a>
			 	</div>
		 	</div>
	 	</div>
	 	<div class="col-lg-6 col-md-6 col-sm-12 ">
	 		<a href="#">
	 			<img src="../../../assets/img/landing-page-boys/new_arrivals.jpg" class="img-fluid" alt="new arrivals" title="New Arrivals">
	 		</a>
	 	</div>
 	</div>
</div>

</ng-container>

<!-- Back to top -->
<div app-back-to-top></div>

<app-footer> </app-footer>
